# files generated during the lubuild process
generated/
**/node_modules
.DS_Store
*.js.map
.env
.history
.config/.env.local
build
dist
**/.DS_Store
.nyc_output
# Local .terraform directories
**/.terraform/*
!example.json
*.pfx
# .tfstate files
*.tfstate
*.tfstate.*